<h1><%= I18n.t(:create_character) %></h1>

<%= error_messages_for :character %>
<% form_for :@character, :url=>{:action=>'create'} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

