<html>
<head>
<title>ThirdLife</title>
</head>
<body>
<h1>ThirdLife</h1>
<% if not logged_in? %>
<%= link_to(I18n.t(:log_in), :controller=>:sessions, :action=>:new) %>
<%= link_to(I18n.t(:signup), :controller=>:users, :action=>:new) %>
<% else %>
<%= link_to(I18n.t(:log_out), :controller=>:sessions, :action=>:destroy) %>
<% end %>
<a href="/?locale=en">English</a>
<a href="/?locale=fr">Français</a>
<br/>
<br/>
<%= yield %>
</body>
</html>

